# Network analysis with NetworkX on Twitter hashtags around Covid19
Initial dataframes for network analysis in NetworkX and Holoviews.

**Input:**
* da_da_mega.ndjson file with dates, id's text, entities etc

**Output:**
* source-target dataframes per time bins with frequency of source and target

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx
import ndjson
import re
import re
import datetime
import itertools

In [2]:
# Data
# Load data
with open('../../data_processed/nordic_tweets/da_da/da_da_mega.ndjson') as f:
    large_df = pd.read_json(f, lines = True)
large_df.head()

,created_at,id,id_str,text,truncated,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted,lang,sentiment,tokens,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,withheld_in_countries
0,Sun Mar 15 21:01:26 +0000 2020,1239295667341754400,1239295667341754368,RT @MortenDDHansen: UNDGÅ ANDRE MENNESKER! Den...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.9560940265655...","{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...",NaN,NaN,NaN,NaN,NaN,NaN
1,Sun Mar 15 21:01:46 +0000 2020,1239295750955241500,1239295750955241472,RT @MarcFarzetta: Social Distancing OG... http...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.989539921283721}","{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...","{'media': [{'id': 1239244969518432300, 'id_str...",0.0,NaN,NaN,NaN,NaN
2,Sun Mar 15 21:03:41 +0000 2020,1239296233228898300,1239296233228898304,Jesus Christ 😩😩😩😩🤬🤬🤬🤬🤬 https://t.co/s59lv376JF,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.985206246376037}","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0}, '...",NaN,0.0,1.239291e+18,1.239291e+18,{'created_at': 'Sun Mar 15 20:41:04 +0000 2020...,NaN
3,Sun Mar 15 21:04:34 +0000 2020,1239296455636144000,1239296455636144128,Må du stå i kø til Zoologisk Have eller hænge ...,1.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.9780081510543...","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN,0.0,NaN,NaN,NaN,NaN
4,Sun Mar 15 21:04:40 +0000 2020,1239296480869003300,1239296480869003264,RT @stinelinnemann: Jeg er lige gået fra relat...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/#!/download/ipad"" ...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.983555257320404}","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 1, '4...",NaN,NaN,1.238604e+18,1.238604e+18,NaN,NaN

In [33]:
data_sentiment = pd.DataFrame([dat for dat in large_df.sentiment])

# Chinese data

In [12]:
data = pd.read_csv("english_preprocessed_fixed.csv")
data2 = pd.read_csv("english_preprocessed_08_26.csv")

data = pd.concat([data, data2]).reset_index(drop=True)

In [13]:
data

,Unnamed: 0,created_at,user,verified,id_str,text,retweet_count,favorite_count,lang,follower_count,hashtags_bytwitter,tokens,text_clean,n_sent,token,lemma,upos,xpos,dependency relation,ner
0,0.0,2020-05-19 10:59:48,ChinaEUMission,1,1262699470946516992,All parties have reached consensus on a draft ...,0,0,en,14658,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",all parties have reached consensus on a draft ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2020-05-19 11:22:28,ChinaEUMission,1,1262705175489363968,China's railway system is expected to reach 14...,0,0,en,14659,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china s railway system is expected to reach 14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2020-05-19 14:09:59,ChinaEUMission,1,1262747333747343366,China has exported over 50 billion masks since...,0,0,en,14665,StrongerTogether,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china has exported over 50 billion masks since...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,2020-05-19 14:34:35,zlj517,1,1262753525655719938,RT @SpokespersonCHN: Not the first time to bas...,0,0,en,621491,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn not the first time to bas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,2020-05-19 14:34:39,zlj517,1,1262753542101581830,RT @SpokespersonCHN: That what does not kill y...,0,0,en,621491,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn that what does not kill y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26160,NaN,2020-08-25 22:45:56,ChinaDaily,1,1298391186151837696,#ChinaStory Look at these kids practicing thei...,0,0,en,4389376,ChinaStory,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",chinastory look at these kids practicing thei...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#ChinaStory', 2: 'Look', 3: 'at', 4: 'the...","{1: '#ChinaStory', 2: 'look', 3: 'at', 4: 'the...","{1: 'PROPN', 2: 'VERB', 3: 'ADP', 4: 'DET', 5:...","{1: 'NNP', 2: 'VB', 3: 'IN', 4: 'DT', 5: 'NNS'...","{1: 'nsubj', 2: 'root', 3: 'case', 4: 'det', 5...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N..."
26161,NaN,2020-08-25 23:02:00,globaltimesnews,1,1298395229096206339,Chinese Valentine’s day proposal: Holding a bu...,0,0,en,1889706,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",chinese valentine s day proposal holding a bu...,"{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 1, 7: ...","{0: 'Chinese', 1: 'Valentine', 2: '’s', 3: 'da...","{0: 'chinese', 1: 'Valentine', 2: ""'s"", 3: 'da...","{0: 'ADJ', 1: 'NOUN', 2: 'PART', 3: 'NOUN', 4:...","{0: 'JJ', 1: 'NN', 2: 'POS', 3: 'NN', 4: 'NN',...","{0: 'amod', 1: 'nmod:poss', 2: 'case', 3: 'com...","{0: 'NORP', 1: 'PERSON', 2: None, 3: None, 4: ..."
26162,NaN,2020-08-25 23:20:03,globaltimesnews,1,1298399770692780032,#Opinion: Italy and #China can expand beyond i...,0,0,en,1889705,Opinion; China; Italy,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0...",opinion italy and china can expand beyond i...,"{1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0, 8: 0, 9: ...","{1: '#Opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: '#opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: 'NOUN', 2: 'PUNCT', 3: 'PROPN', 4: 'CCONJ'...","{1: 'NN', 2: ':', 3: 'NNP', 4: 'CC', 6: 'NNP',...","{1: 'root', 2: 'punct', 3: 'nsubj', 4: 'cc', 6...","{1: 'HASHTAG', 2: None, 3: 'GPE', 4: None, 6: ..."
26163,NaN,2020-08-25 23:40:03,globaltimesnews,1,1298404806072184837,#India's overconfidence in its economic streng...,0,0,en,1889701,India; COVID19,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",india s overconfidence in its economic streng...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: 'PROPN', 2: 'PART', 3: 'NOUN', 4: 'ADP', 5...","{1: 'NNP', 2: 'POS', 3: 'NN', 4: 'IN', 5: 'PRP...","{1: 'nmod:poss', 2: 'case', 3: 'nsubj', 4: 'ca...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N..."
26164,NaN,2020-08-25 23:59:11,globaltimesnews,1,1298409619128070145,Two opposition members of #HongKong Legislativ...,0,0,en,1889679,HongKong,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0...",two opposition members of hongkong legislativ...,"{0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0, 7: 0, 8: ...","{0: 'Two', 1: 'opposition', 2: 'members', 3: '...","{0: 'two', 1: 'opposition', 2: 'member', 3: 'o...","{0: 'NUM', 1: 'NOUN', 2: 'NOUN', 3: 'ADP', 5: ...","{0: 'CD', 1: 'NN', 2: 'NNS', 3: 'IN', 5: 'NNP'...","{0: 'nummod', 1: 'compound', 2: 'nsubj:pass', ...","{0: 'CARDINAL', 1: None, 2: None, 3: None, 5: ..."

In [14]:
large_df = data

In [15]:
data_sentiment[data_sentiment["label"] == 'NEGATIVE'].describe()

NameError: name 'data_sentiment' is not defined

In [16]:
data_sentiment[data_sentiment["label"] == 'POSITIVE'].describe()

NameError: name 'data_sentiment' is not defined

Check whether there are tweets where a hashtag is used twice.

In [17]:
i = 0
rownr = 0
for entry in data.tokens:#large_df
    tweet_hashs = []
    for key in entry["ner"]:
        if entry["ner"][key] == "HASHTAG":
            #print(entry["token"][key])
            tweet_hashs.append(entry["token"][key])
    if len(tweet_hashs) > len(set(tweet_hashs)):
        print("Rownumber: ", rownr)
        print("Text: ", large_df.text[rownr])
        print("Hashtags: ", tweet_hashs)
        print("#---------------#")
        i = i + 1
    rownr = rownr+1

TypeError: string indices must be integers

In [18]:
import json
type(large_df.iloc[20651]["tokens"])
#json.loads(data.iloc[12]["tokens"])

str

In [19]:
#json.loads(data["tokens"][0])
data["tokens"][0]

"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0}, 'token': {0: 'All', 1: 'parties', 2: 'have', 3: 'reached', 4: 'consensus', 5: 'on', 6: 'a', 7: 'draft', 8: 'resolution', 9: ',', 10: 'which', 11: 'requests', 13: '@WHO', 14: 'DG', 15: 'to', 16: ',', 17: 'after', 18: 'consultations', 19: 'with', 20: 'member', 21: 'states', 22: ',', 23: 'initiate', 24: 'at', 25: 'the', 26: 'appropriate', 27: 'moment', 28: 'a', 29: 'stepwise', 30: 'process', 31: 'of', 32: 'impartial', 33: ',', 34: 'independent', 35: 'and', 36: 'comprehensive', 37: 'evaluation', 38: 'to', 39: 'review', 40: 'experience', 41: 'gained', 42: 'and', 43: 'lessons', 44: 'learnt', 45: 'https://t.co/s5HK5LU2uF'}, 'lemma': {0: 'all', 1: 'party', 2: 'have', 3: 'reach', 4: 'consensus', 5: 'on', 6: 'a', 7: 'draft', 8: 'resolution', 9: ',', 10: 'which', 11: 'request', 13: '@who', 14: 'dg', 15: 'to', 16: ',', 17: 'after', 18: 'consultation', 19: 'with', 20: 'member', 21: 'state', 22: ',', 23: 'initiate', 24: 'at', 25: 'the', 26: 'appropriate', 27: 'moment', 28: 'a', 29: 'stepwise', 30: 'process', 31: 'of', 32: 'impartial', 33: ',', 34: 'independent', 35: 'and', 36: 'comprehensive', 37: 'evaluation', 38: 'to', 39: 'review', 40: 'experience', 41: 'gain', 42: 'and', 43: 'lesson', 44: 'learn', 45: 'https://t.co/s5hk5lu2uf'}, 'upos': {0: 'DET', 1: 'NOUN', 2: 'AUX', 3: 'VERB', 4: 'NOUN', 5: 'ADP', 6: 'DET', 7: 'NOUN', 8: 'NOUN', 9: 'PUNCT', 10: 'PRON', 11: 'VERB', 13: 'PRON', 14: 'PROPN', 15: 'ADP', 16: 'PUNCT', 17: 'ADP', 18: 'NOUN', 19: 'ADP', 20: 'NOUN', 21: 'NOUN', 22: 'PUNCT', 23: 'VERB', 24: 'ADP', 25: 'DET', 26: 'ADJ', 27: 'NOUN', 28: 'DET', 29: 'ADJ', 30: 'NOUN', 31: 'ADP', 32: 'ADJ', 33: 'PUNCT', 34: 'ADJ', 35: 'CCONJ', 36: 'ADJ', 37: 'NOUN', 38: 'PART', 39: 'VERB', 40: 'NOUN', 41: 'VERB', 42: 'CCONJ', 43: 'NOUN', 44: 'VERB', 45: 'X'}, 'xpos': {0: 'DT', 1: 'NNS', 2: 'VBP', 3: 'VBN', 4: 'NN', 5: 'IN', 6: 'DT', 7: 'NN', 8: 'NN', 9: ',', 10: 'WDT', 11: 'VBZ', 13: 'WP', 14: 'NNP', 15: 'IN', 16: ',', 17: 'IN', 18: 'NNS', 19: 'IN', 20: 'NN', 21: 'NNS', 22: ',', 23: 'VBP', 24: 'IN', 25: 'DT', 26: 'JJ', 27: 'NN', 28: 'DT', 29: 'JJ', 30: 'NN', 31: 'IN', 32: 'JJ', 33: ',', 34: 'JJ', 35: 'CC', 36: 'JJ', 37: 'NN', 38: 'TO', 39: 'VB', 40: 'NN', 41: 'VBN', 42: 'CC', 43: 'NNS', 44: 'VBN', 45: 'ADD'}, 'dependency relation': {0: 'det', 1: 'nsubj', 2: 'aux', 3: 'root', 4: 'obj', 5: 'case', 6: 'det', 7: 'compound', 8: 'obl', 9: 'punct', 10: 'nsubj', 11: 'acl:relcl', 13: 'obl', 14: 'nsubj', 15: 'case', 16: 'punct', 17: 'case', 18: 'obl', 19: 'case', 20: 'compound', 21: 'nmod', 22: 'punct', 23: 'conj', 24: 'case', 25: 'det', 26: 'amod', 27: 'obl', 28: 'det', 29: 'amod', 30: 'obj', 31: 'case', 32: 'amod', 33: 'punct', 34: 'conj', 35: 'cc', 36: 'conj', 37: 'nmod', 38: 'mark', 39: 'acl', 40: 'obj', 41: 'acl', 42: 'cc', 43: 'conj', 44: 'conj', 45: 'parataxis'}, 'ner': {0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 13: 'TWITTER_USER', 14: 'ORG', 15: None, 16: None, 17: None, 18: None, 19: None, 20: None, 21: None, 22: None, 23: None, 24: None, 25: None, 26: None, 27: None, 28: None, 29: None, 30: None, 31: None, 32: None, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: 'URL'}}"

104 tweets where hashtags are used more than once (jesus). There's also an issue with extracting hashtags from tokens :c I'll try on a subset how I could extract hashtags from text directly.

In [20]:
d = large_df.iloc[0:10]

In [21]:
import re
list(set(re.findall(r'#\S*\w', large_df["text"][8749])))

['#WHO', '#coronavirus', "#China's"]

In [22]:
large_df["text"][8749]

"The #WHO recognizes #China's analysis that the outbreak of #coronavirus in Beijing is related to European strains, with experts saying it's most similar to the strains found in the Czech Republic, China's Taiwan and some areas in Europe. https://t.co/JOkd2BRRId https://t.co/xvy1do6MGZ"

In [23]:
def extract_hashtags(row):
    # Extracts hashtags and attaches unique ones
    hash_list = list(set(re.findall(r'#\S*\w', row["text"])))
    return hash_list

In [24]:
# Create hashtags column with the actual unique hashtags
large_df["hashtags"] = large_df.apply(lambda row: extract_hashtags(row), axis = 1)
data["hashtags"] = data.apply(lambda row: extract_hashtags(row), axis = 1)

In [25]:
data

,Unnamed: 0,created_at,user,verified,id_str,text,retweet_count,favorite_count,lang,follower_count,...,tokens,text_clean,n_sent,token,lemma,upos,xpos,dependency relation,ner,hashtags
0,0.0,2020-05-19 10:59:48,ChinaEUMission,1,1262699470946516992,All parties have reached consensus on a draft ...,0,0,en,14658,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",all parties have reached consensus on a draft ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
1,1.0,2020-05-19 11:22:28,ChinaEUMission,1,1262705175489363968,China's railway system is expected to reach 14...,0,0,en,14659,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china s railway system is expected to reach 14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2.0,2020-05-19 14:09:59,ChinaEUMission,1,1262747333747343366,China has exported over 50 billion masks since...,0,0,en,14665,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china has exported over 50 billion masks since...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[#StrongerTogether]
3,3.0,2020-05-19 14:34:35,zlj517,1,1262753525655719938,RT @SpokespersonCHN: Not the first time to bas...,0,0,en,621491,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn not the first time to bas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4.0,2020-05-19 14:34:39,zlj517,1,1262753542101581830,RT @SpokespersonCHN: That what does not kill y...,0,0,en,621491,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn that what does not kill y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26160,NaN,2020-08-25 22:45:56,ChinaDaily,1,1298391186151837696,#ChinaStory Look at these kids practicing thei...,0,0,en,4389376,...,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",chinastory look at these kids practicing thei...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#ChinaStory', 2: 'Look', 3: 'at', 4: 'the...","{1: '#ChinaStory', 2: 'look', 3: 'at', 4: 'the...","{1: 'PROPN', 2: 'VERB', 3: 'ADP', 4: 'DET', 5:...","{1: 'NNP', 2: 'VB', 3: 'IN', 4: 'DT', 5: 'NNS'...","{1: 'nsubj', 2: 'root', 3: 'case', 4: 'det', 5...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N...",[#ChinaStory]
26161,NaN,2020-08-25 23:02:00,globaltimesnews,1,1298395229096206339,Chinese Valentine’s day proposal: Holding a bu...,0,0,en,1889706,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",chinese valentine s day proposal holding a bu...,"{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 1, 7: ...","{0: 'Chinese', 1: 'Valentine', 2: '’s', 3: 'da...","{0: 'chinese', 1: 'Valentine', 2: ""'s"", 3: 'da...","{0: 'ADJ', 1: 'NOUN', 2: 'PART', 3: 'NOUN', 4:...","{0: 'JJ', 1: 'NN', 2: 'POS', 3: 'NN', 4: 'NN',...","{0: 'amod', 1: 'nmod:poss', 2: 'case', 3: 'com...","{0: 'NORP', 1: 'PERSON', 2: None, 3: None, 4: ...",[]
26162,NaN,2020-08-25 23:20:03,globaltimesnews,1,1298399770692780032,#Opinion: Italy and #China can expand beyond i...,0,0,en,1889705,...,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0...",opinion italy and china can expand beyond i...,"{1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0, 8: 0, 9: ...","{1: '#Opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: '#opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: 'NOUN', 2: 'PUNCT', 3: 'PROPN', 4: 'CCONJ'...","{1: 'NN', 2: ':', 3: 'NNP', 4: 'CC', 6: 'NNP',...","{1: 'root', 2: 'punct', 3: 'nsubj', 4: 'cc', 6...","{1: 'HASHTAG', 2: None, 3: 'GPE', 4: None, 6: ...","[#China, #Italy, #Opinion]"
26163,NaN,2020-08-25 23:40:03,globaltimesnews,1,1298404806072184837,#India's overconfidence in its economic streng...,0,0,en,1889701,...,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",india s overconfidence in its economic streng...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: 'PROPN', 2: 'PART', 3: 'NOUN', 4: 'ADP', 5...","{1: 'NNP', 2: 'POS', 3: 'NN', 4: 'IN', 5: 'PRP...","{1: 'nmod:poss', 2: 'case', 3: 'nsubj', 4: 'ca...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N...","[#India's, #COVID19]"
26164,NaN,2020-08-25 23:59:11,globaltimesnews,1,1298409619128070145,Two opposition members of #HongKong Legislativ...,0,0,en,1889679,...,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0...",two opposition members of hongkong legislativ...,"{0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0, 7: 0, 8: ...","{0: 'Two', 1: 'opposition', 2: 'members', 3: '...","{0: 'two', 1: 'opposition', 2: 'member', 3: 'o...","{0: 'NUM', 1: 'NOUN', 2: 'NOUN', 3: 'ADP', 5: ...","{0: 'CD', 1: 'NN', 2: 'NNS', 3: 'IN', 5: 'NNP'...","{0: 'nummod', 1: 'compound', 2: 'nsubj:pass', ...","{0: 'CARDINAL', 1: None, 2: None, 3: None, 5: ...",[#HongKong]

In [26]:
# Let's take a subset of necessary columns, add id
df = large_df[["created_at", "hashtags"]].reset_index().rename(columns={"index": "id"})
df = data[["created_at", "hashtags"]].reset_index().rename(columns={"index": "id"})
df

          id           created_at                    hashtags
0          0  2020-05-19 10:59:48                          []
1          1  2020-05-19 11:22:28                          []
2          2  2020-05-19 14:09:59         [#StrongerTogether]
3          3  2020-05-19 14:34:35                          []
4          4  2020-05-19 14:34:39                          []
...      ...                  ...                         ...
26160  26160  2020-08-25 22:45:56               [#ChinaStory]
26161  26161  2020-08-25 23:02:00                          []
26162  26162  2020-08-25 23:20:03  [#China, #Italy, #Opinion]
26163  26163  2020-08-25 23:40:03        [#India's, #COVID19]
26164  26164  2020-08-25 23:59:11                 [#HongKong]

[26165 rows x 3 columns]

In [27]:
# Select only the ones where we have more than 1 hashtag per tweet
df = df[df["hashtags"].map(len) > 1].reset_index(drop=True)

In [28]:
df

,id,created_at,hashtags
0,11,2020-05-20 07:46:38,"[#Hubei, #COVID19]"
1,12,2020-05-20 07:47:09,"[#Hubei, #COVID19]"
2,13,2020-05-20 07:54:16,"[#COVID19, #ShanghaiInternationalFilmFestival]"
3,15,2020-05-20 07:57:18,"[#COVID19, #TwoSessions]"
4,16,2020-05-20 08:00:01,"[#BackToWork, #coronavirus, #COVID_19]"
...,...,...,...
11102,26150,2020-08-25 21:40:02,"[#JacobBlakeshooting, #US, #Opinion]"
11103,26151,2020-08-25 22:00:00,"[#EU, #Europe, #China's, #Opinion]"
11104,26159,2020-08-25 22:40:01,"[#China, #Europe, #Opinion]"
11105,26162,2020-08-25 23:20:03,"[#China, #Italy, #Opinion]"
11106,26163,2020-08-25 23:40:03,"[#India's, #COVID19]"

In [21]:
# Hashtag per row
# convert list of pd.Series then stack it
dd = (df
 .set_index(['created_at','id'])['hashtags']
 .apply(pd.Series)
 .stack()
 .reset_index()
 .drop('level_2', axis=1)
 .rename(columns={0:'hashtag'}))
#lowercase!
dd["hashtag"] = dd["hashtag"].str.lower()

In [22]:
# Fix dates
# Reading the data out and in again to fix datetime
#dd.to_csv("co_hashtag_timebins/own_hashtags_large_hashtags_all.csv", index=False)
#dd = pd.read_csv("co_hashtag_timebins/own_hashtags_large_hashtags_all.csv")

dd.to_csv("co_hashtag_timebins/chinese_hashtags.csv", index=False)
dd = pd.read_csv("co_hashtag_timebins/chinese_hashtags.csv")

# Fix datetime - for some reason doesn't give NaT's only when you read the data in from csv
# Normalize the dates
def clean_dates(dd):
    # 0[DAY]  1[MONTH]  2[YEAR]
    datelist = [[],[],[]]
    for line in dd.created_at:
        #If string starts with letters (Mon Mar)
        if re.match(r'[A-Za-z]', line): #Tue Mar 03 20:44:19 +0000 2020
            # Day
            datelist[0].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[2])
            # Month - turn month name into month number
            datelist[1].append(datetime.datetime.strptime((re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[1]), "%b").month)
            #datelist[1].append("03")
            # Year
            datelist[2].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[3])
        else: #2020-02-28
            # Day
            datelist[0].append(re.split(r'(2020)-(\d*)-(\d*)', line)[3])
            # Month
            datelist[1].append(re.split(r'(2020)-(\d*)-(\d*)', line)[2])
            # Year
            datelist[2].append(re.split(r'(2020)-(\d*)-(\d*)', line)[1])

    # Change the list into DF of datetime
    d = pd.to_datetime(pd.DataFrame(datelist).transpose().rename(columns={0:"day", 1:"month", 2:"year"}))
    dd["created_at"] = d
    return(dd)

dd = clean_dates(dd)

In [23]:
# This is the df that is ready for the rest
dd

# Rename some hashtags
#if df["hashtag"] == "#covid19":
#    df["hashtag"]
    
def replace_hashtag(row):
    #print(row["hashtag"])
    if row["hashtag"] == "#covid19":
        new_hash = "#coronavirus"
    elif row["hashtag"] == "#covid_19":
        new_hash = "#coronavirus"
    elif row["hashtag"] == "#twosessions":
        new_hash = "#twosessions2020"
    elif row["hashtag"] == "#hk":
        new_hash = "#hongkong"
    elif row["hashtag"] == "#香港":
        new_hash = "#hongkong"
    else:
        new_hash = row["hashtag"]
    return new_hash

dd["hashtag"] = dd.apply(lambda row: replace_hashtag(row), axis = 1)

In [24]:
dd

     created_at    id             hashtag
0    2020-08-06     2             #kungfu
1    2020-08-06     2         #chinastory
2    2020-08-06     3                #abc
3    2020-08-06     3           #apacnews
4    2020-08-06     3  #usstatedepartment
...         ...   ...                 ...
4995 2020-08-25  4955              #china
4996 2020-08-25  4955            #opinion
4997 2020-08-25  4955              #italy
4998 2020-08-25  4956        #coronavirus
4999 2020-08-25  4956            #india's

[5000 rows x 3 columns]

# NOTICE: this part has become obsolete
But I won't delete it yet

In [47]:
# Outputs a df that has id, created_at, hashtag - hashtags are clean, date is normalized to datetime
def hashtag_df_long(large_df, remove_hashtags = False):
    # Get the tokens and dates
    data_tokens = pd.DataFrame([dat for dat in large_df.tokens])
    data_dates = pd.DataFrame([dat for dat in large_df.created_at])
    data_sentiment = pd.DataFrame([dat for dat in large_df.sentiment])

    # Join them to a dataframe
    data_tokens["created_at"] = data_dates
    data_tokens['id'] = range(0, len(data_tokens))
    data_sentiment['id'] = range(0, len(data_sentiment))
    
    import re
    # Some lines have ,#
    exp = re.compile('\,#')
    # Some don't have the comma
    exp2 = re.compile('#')
    d = "#"

    # Extract the hashtags
    # Empty list for [id] [DATE],[HASHTAGS] 
    hash_list3 = [[], [],[]]
    # Loop over each tweet in data
    for tweet in range(0,len(data_tokens["created_at"])):
        for key in data_tokens.ner[tweet]:
            # If the key stands for a hashtag, append the hashtag and date to the list
            if data_tokens.ner[tweet][key] == "HASHTAG": #lst[(np.char.mod('%d', j))]]
                # If the tweet is for some reason something like this: "#PreRolledPapers,#herbStash,#420life,#stoner"
                if re.search(exp, data_tokens.token[tweet][key]):
                    # Break it into pieces and append accordingly
                    tinys = data_tokens.token[tweet][key].split(",")
                    for el in tinys:
                        hash_list3[0].append(data_tokens.id[tweet])
                        hash_list3[2].append(el)
                        hash_list3[1].append(data_tokens.created_at[tweet])
                elif re.search(exp2, data_tokens.token[tweet][key]):
                    # Break it into pieces and append accordingly
                    smalls = [d+e for e in data_tokens.token[tweet][key].split(d) if e]
                    for fl in smalls:
                        hash_list3[0].append(data_tokens.id[tweet])
                        hash_list3[2].append(fl)
                        hash_list3[1].append(data_tokens.created_at[tweet])
                else:
                    hash_list3[0].append(data_tokens.id[tweet])
                    hash_list3[2].append(data_tokens.token[tweet][key])
                    hash_list3[1].append(data_tokens.created_at[tweet])
    
    dd = pd.DataFrame(zip(hash_list3[0], hash_list3[1], hash_list3[2]), columns = ["id", "created_at", "hashtag"])

    # Lowercase the hashtags
    dd['hashtag'] = dd.hashtag.str.lower()

    if remove_hashtags:
        # Remove the meh hashtags
        rmv_hashtags = ["#covid19dk", "#dkpol", "#dkmedier", "#coronadk", "#coronavirus", "#covid19", "#coronavirusdk", 
                            "#covid2019dk", "#covid_19", "#covidー19", "#covid", "#covid2019", "#coronavirusoutbreak", "#corona",
                           "#2019coronavirus", "#2019n_cov", "#2019ncov", "#covid19denmark", "#corona19dk", "#covid-19", "#ncov2019",
                       "#covid_2019", "#ncov", "#virus", "#covid-19dk", "#威神v"]
        dd = dd[~dd['hashtag'].isin(rmv_hashtags)]
    
    # Cleaning hashtags
    # Remove the hashtags with …
    dd = dd[dd['hashtag'].str.contains('…$')==False]
    # Remove hashtags that contain .
    dd = dd[dd['hashtag'].str.contains('\.')==False]
    # Remove hashtags that have https in them:
    dd = dd[dd['hashtag'].str.contains('http')==False]
    
    # Add sentiment score based on id
    dd = pd.merge(dd, data_sentiment, on="id")
    
    return(dd)

In [7]:
id_hashtag = hashtag_df_long(large_df, remove_hashtags = True)

In [56]:
id_hashtag

,id,created_at,hashtag,label,score
0,13,Sun Mar 15 21:48:38 +0000 2020,#college,NEGATIVE,0.992661
1,34,Mon Feb 17 19:05:40 +0000 2020,#china,NEGATIVE,0.998558
2,34,Mon Feb 17 19:05:40 +0000 2020,#wuhan,NEGATIVE,0.998558
3,34,Mon Feb 17 19:05:40 +0000 2020,#hubei,NEGATIVE,0.998558
4,116,Mon Mar 09 07:46:34 +0000 2020,#gloucester,NEGATIVE,0.992669
...,...,...,...,...,...
11063,34007,2020-03-31 19:50:24,#børn,NEGATIVE,0.994505
11064,34007,2020-03-31 19:50:24,#lockdown,NEGATIVE,0.994505
11065,34007,2020-03-31 19:50:24,#blivhjemme,NEGATIVE,0.994505
11066,34007,2020-03-31 19:50:24,#onkelhumor,NEGATIVE,0.994505
11067,34007,2020-03-31 19:50:24,#sygeplejerske,NEGATIVE,0.994505

In [57]:
# Reading the data out and in again to fix datetime
#id_hashtag.to_csv("co_hashtag_timebins/DEBUGGING_large_hashtags_all.csv", index=False)
id_hashtag.to_csv("co_hashtag_timebins/all_sentiment_large_hashtags_all.csv", index=False)

In [58]:
#dd = pd.read_csv("co_hashtag_timebins/DEBUGGING_large_hashtags_all.csv")
dd = pd.read_csv("co_hashtag_timebins/all_sentiment_large_hashtags_all.csv")

In [59]:
# Fix datetime - for some reason doesn't give NaT's only when you read the data in from csv
# Normalize the dates
def clean_dates(dd):
    # 0[DAY]  1[MONTH]  2[YEAR]
    datelist = [[],[],[]]
    for line in dd.created_at:
        #If string starts with letters (Mon Mar)
        if re.match(r'[A-Za-z]', line): #Tue Mar 03 20:44:19 +0000 2020
            # Day
            datelist[0].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[2])
            # Month - turn month name into month number
            datelist[1].append(datetime.datetime.strptime((re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[1]), "%b").month)
            #datelist[1].append("03")
            # Year
            datelist[2].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[3])
        else: #2020-02-28
            # Day
            datelist[0].append(re.split(r'(2020)-(\d*)-(\d*)', line)[3])
            # Month
            datelist[1].append(re.split(r'(2020)-(\d*)-(\d*)', line)[2])
            # Year
            datelist[2].append(re.split(r'(2020)-(\d*)-(\d*)', line)[1])

    # Change the list into DF of datetime
    d = pd.to_datetime(pd.DataFrame(datelist).transpose().rename(columns={0:"day", 1:"month", 2:"year"}))
    dd["created_at"] = d
    return(dd)

In [60]:
dd = clean_dates(dd)

In [ ]:
bin0['points'] = bin0.apply(f, axis=1)
#pd.DataFrame({'score' : bin0.groupby(['id']).mean()}).reset_index()

pd.DataFrame(bin0.groupby('hashtag')['points'].mean()).reset_index()

## ----------------------------------------------------------------------------------
# OBSOLITE PART OVER

In [25]:
def df_to_timebins(id_hashtag):
    
    # Add freq of hashtags by themselves in the dataset
    hashtag_freq = pd.DataFrame({'whole_freq' : id_hashtag.groupby(['hashtag']).size()}).reset_index()

    # Add the whole_frew to id_hashtag - THIS SEEMS BETTER THAN mm
    freq_hashtags = pd.merge(id_hashtag, hashtag_freq, how='left', on=['hashtag'])#, 'id', 'created_at'])
    
    df0 = freq_hashtags
    # Extract initial timebin 0
    #bin0 = df0[df0['created_at'] <= #"2020-03-10"]
    # Add hashtag freq in this timebin

    #bin01 = pd.merge(bin0, pd.DataFrame({'bin_freq' : bin0.groupby(['hashtag']).size()}).reset_index(), on=['hashtag'])

    # Extract initial timebin X and remove values higher than last bin
    #bin1a = df0[df0['created_at'] <= "2020-03-17"]# - bin0
    #bin1 = bin1a[bin1a.created_at > "2020-03-10"]
    #bin11 = pd.merge(bin1, pd.DataFrame({'bin_freq' : bin1.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    #bin2a = df0[df0['created_at'] <= "2020-03-22"]# - bin0
    #bin2 = bin2a[bin2a.created_at > "2020-03-17"]
    #bin21 = pd.merge(bin2, pd.DataFrame({'bin_freq' : bin2.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    #bin3a = df0[df0['created_at'] <= "2020-03-31"]# - bin0
    #bin3 = bin3a[bin3a.created_at > "2020-03-22"]
    #bin31 = pd.merge(bin3, pd.DataFrame({'bin_freq' : bin3.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    #bin4a = df0[df0['created_at'] <= "2020-05-31"]# - bin0
    #bin4 = bin4a[bin4a.created_at > "2020-03-31"]
    #bin41 = pd.merge(bin4, pd.DataFrame({'bin_freq' : bin4.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])
    
    return(freq_hashtags)
    #return(df0, bin0, bin1, bin2, bin3, bin4)

In [26]:
f = df_to_timebins(dd)

In [30]:
f
#f.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_4_chinese.csv', index=False)

     created_at    id             hashtag  whole_freq
0    2020-08-06     2             #kungfu           9
1    2020-08-06     2         #chinastory          35
2    2020-08-06     3                #abc           1
3    2020-08-06     3           #apacnews           1
4    2020-08-06     3  #usstatedepartment           1
...         ...   ...                 ...         ...
4995 2020-08-25  4955              #china         271
4996 2020-08-25  4955            #opinion          91
4997 2020-08-25  4955              #italy           5
4998 2020-08-25  4956        #coronavirus         583
4999 2020-08-25  4956            #india's           8

[5000 rows x 4 columns]

In [27]:
start_date = "2020-05-20"
end_date = "2020-05-31"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin0 = f.loc[mask].reset_index(drop=True)

start_date = "2020-06-01"
end_date = "2020-06-30"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin1 = f.loc[mask].reset_index(drop=True)

start_date = "2020-07-01"
end_date = "2020-07-31"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin2 = f.loc[mask].reset_index(drop=True)

start_date = "2020-08-01"
end_date = "2020-08-05"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin3 = f.loc[mask].reset_index(drop=True)

In [29]:
bin1

Empty DataFrame
Columns: [created_at, id, hashtag, whole_freq]
Index: []

In [24]:
bin0.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_0_chinese.csv', index=False)
bin1.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_1_chinese.csv', index=False)
bin2.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_2_chinese.csv', index=False)
bin3.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_3_chinese.csv', index=False)

In [25]:
# Chinese:
#f = df_to_timebins(dd)
f["created_at"].describe()

# split data to month bins
#months = [g for n, g in f.set_index('created_at')

count                   23483
unique                     78
top       2020-07-01 00:00:00
freq                      499
first     2020-05-20 00:00:00
last      2020-08-05 00:00:00
Name: created_at, dtype: object

In [63]:
# Actual time bins for CHCAA data:
all_bin, bin0, bin1, bin2, bin3, bin4 = df_to_timebins(dd)

# Individual lengths of bins
print(len(bin0))
print(len(bin1))
print(len(bin2))
print(len(bin3))
print(len(bin4))

print("These two should be the same: ")
print("Bins added together:         ", len(bin0) + len(bin1) + len(bin2) + len(bin3) + len(bin4))
print("Length before making bins:   ", len(all_bin))

4498
10810
6974
8709
4987
These two should be the same:
Bins added together:          35978
Length before making bins:    35978

In [64]:
bin1

      created_at     id             hashtag  whole_freq
0     2020-03-15     13            #college           1
1     2020-03-15     13  #collegebasketball           1
2     2020-03-15     16             #corona         294
3     2020-03-15     16           #coronadk         982
25    2020-03-17    140          #covid2019          92
...          ...    ...                 ...         ...
15502 2020-03-17  24581          #covid19dk       10404
15503 2020-03-17  24583          #covid19dk       10404
15504 2020-03-17  24583               #eudk         467
15505 2020-03-17  24583           #dkmedier        1598
15506 2020-03-17  24583              #dkpol        5085

[10810 rows x 4 columns]

## Outputting input Files for NetworkX-to-d3

In [69]:
bin0.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_0_co_hashtags.csv', index=False)
bin1.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_1_co_hashtags.csv', index=False)
bin2.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_2_co_hashtags.csv', index=False)
bin3.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_3_co_hashtags.csv', index=False)
bin4.to_csv('co_hashtag_timebins/networkx-to-d3-input/prebin_4_co_hashtags.csv', index=False)

## Converting time bins to source-target (for HoloViews visuals)

In [26]:
def f(x):
  if x['label'] == 'NEGATIVE': return -x['score']
  elif x['label'] == 'POSITIVE': return x['score']
  else: return 0

In [31]:
# Convert timebins to source-target
def timebin(timebin_dataframe, with_count_1 = True):
    # Aggregate the dataframe based on ID
    hashtags_per_tweet = timebin_dataframe.groupby(['id'])["hashtag"].apply(lambda x: ', '.join(x)).reset_index()

    cols = [[],[]]
    for index, row in hashtags_per_tweet.iterrows():
        hashtags=row['hashtag'].split()
        hashtags_len = len(hashtags)
        for n in list(itertools.combinations(hashtags, 2)):
            cols[0].append(n[0])
            cols[1].append(n[1])

    # Make the data frame from the source and target columns, remove commas
    df3 = pd.DataFrame(list(zip(cols[0], cols[1]))).rename(columns={0:"source",1:"target"}).replace(',','', regex=True)
    
    # Aggregate repeated edges
    df10 = pd.DataFrame({'count' : df3.groupby(['source', 'target']).size()}).reset_index()
    
    if with_count_1 == False:
        df10 = df10[df10["count"] != 1]
    
    # Add the frequencies of hashtags per whole data + per timebin
    time1 = timebin_dataframe.rename(columns={'hashtag':'source', 'whole_freq': 'source_whole_freq', 'bin_freq':'source_bin_freq'})
    time1 = time1.drop(columns=['id', 'created_at'])

    time2 = timebin_dataframe.rename(columns={'hashtag':'target', 'whole_freq': 'target_whole_freq', 'bin_freq':'target_bin_freq'})
    time2 = time2.drop(columns=['id', 'created_at'])#, 'label', 'score'])

    df11 = pd.merge(df10, time1, how = 'left', on='source')
    df11 = pd.merge(df11, time2, how = 'left', on='target')
    
    # Drop duplicates if any!
    df11 = df11.drop_duplicates().reset_index(drop=True)
    
    return(df11)

In [33]:
# Make the timebins
#time0 = timebin(bin0)
#time1 = timebin(bin1)
#time2 = timebin(bin2)
#time3 = timebin(bin3)
time4 = timebin(f)

In [34]:
time4

,source,target,count,source_whole_freq,target_whole_freq
0,#2020,#yeezy,1,1,1.0
1,#2020election,#kaynewest,1,4,1.0
2,#2020election,#us,3,4,334.0
3,#3d,#china,1,3,271.0
4,#3d,#chinastory,2,3,35.0
...,...,...,...,...,...
2634,#王俊凯,#王源,1,1,1.0
2635,#王源,#tfboys7thanniversary,1,1,1.0
2636,#环球时报editorial,#belarus,2,6,5.0
2637,#环球时报editorial,#confuciusinstitutes,1,6,2.0
2638,#环球时报editorial,#us,2,6,334.0

In [65]:
bin0

     created_at    id                             hashtag  whole_freq
0    2020-05-20    11                        #coronavirus        3564
1    2020-05-20    11                              #hubei          81
2    2020-05-20    12                        #coronavirus        3564
3    2020-05-20    12                              #hubei          81
4    2020-05-20    13  #shanghaiinternationalfilmfestival           2
...         ...   ...                                 ...         ...
3927 2020-05-31  3344                         #chinastory         100
3928 2020-05-31  3344                              #icymi          21
3929 2020-05-31  3347                              #icymi          21
3930 2020-05-31  3347                  #chinadailycartoon          57
3931 2020-05-31  3347                             #racism          25

[3932 rows x 4 columns]

In [84]:
bin0

def f(x):
  if x['label'] == 'NEGATIVE': return -x['score']
  elif x['label'] == 'POSITIVE': return x['score']
  else: return 0

bin0['points'] = bin0.apply(f, axis=1)
#pd.DataFrame({'score' : bin0.groupby(['id']).mean()}).reset_index()

pd.DataFrame(bin0.groupby('hashtag')['points'].mean()).reset_index()

/home/commando/maris/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            hashtag    points
0    #137_tech_news -0.990049
1             #1div -0.994519
2           #1divdk -0.994796
3        #2019-ncov -0.995816
4              #2pl -0.995540
..              ...       ...
787            #ywg -0.998441
788       #zoönosen -0.993735
789   #zvezdasrbija -0.990045
790        #økonomi -0.987924
791             #øl -0.954273

[792 rows x 2 columns]

In [66]:
print(len(time0) + len(time1) + len(time2) + len(time3) + len(time4))

27427

In [35]:
# Chinese
#time0.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_0_co_hashtags_rmv.csv', index=False)
#time1.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_1_co_hashtags_rmv.csv', index=False)
#time2.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_2_co_hashtags_rmv.csv', index=False)
#time3.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_3_co_hashtags_rmv.csv', index=False)
time4.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_4_co_hashtags_rmv.csv', index=False)

In [79]:
time0.to_csv('co_hashtag_timebins/networkx-to-hv-input/timebin_0_co_hashtags_sentiment_rmv.csv', index=False)
time1.to_csv('co_hashtag_timebins/networkx-to-hv-input/timebin_1_co_hashtags_sentiment_rmv.csv', index=False)
time2.to_csv('co_hashtag_timebins/networkx-to-hv-input/timebin_2_co_hashtags_sentiment_rmv.csv', index=False)
time3.to_csv('co_hashtag_timebins/networkx-to-hv-input/timebin_3_co_hashtags_sentiment_rmv.csv', index=False)
time4.to_csv('co_hashtag_timebins/networkx-to-hv-input/timebin_4_co_hashtags_sentiment_rmv.csv', index=False)

### Chinese hashtags - users to network analysis

In [29]:
data = pd.read_csv("english_preprocessed_fixed.csv")
data2 = pd.read_csv("english_preprocessed_08_26.csv")

data = pd.concat([data, data2]).reset_index(drop=True)

In [30]:
data

,Unnamed: 0,created_at,user,verified,id_str,text,retweet_count,favorite_count,lang,follower_count,hashtags_bytwitter,tokens,text_clean,n_sent,token,lemma,upos,xpos,dependency relation,ner
0,0.0,2020-05-19 10:59:48,ChinaEUMission,1,1262699470946516992,All parties have reached consensus on a draft ...,0,0,en,14658,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",all parties have reached consensus on a draft ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2020-05-19 11:22:28,ChinaEUMission,1,1262705175489363968,China's railway system is expected to reach 14...,0,0,en,14659,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china s railway system is expected to reach 14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2020-05-19 14:09:59,ChinaEUMission,1,1262747333747343366,China has exported over 50 billion masks since...,0,0,en,14665,StrongerTogether,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",china has exported over 50 billion masks since...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,2020-05-19 14:34:35,zlj517,1,1262753525655719938,RT @SpokespersonCHN: Not the first time to bas...,0,0,en,621491,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn not the first time to bas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,2020-05-19 14:34:39,zlj517,1,1262753542101581830,RT @SpokespersonCHN: That what does not kill y...,0,0,en,621491,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",rt spokespersonchn that what does not kill y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26160,NaN,2020-08-25 22:45:56,ChinaDaily,1,1298391186151837696,#ChinaStory Look at these kids practicing thei...,0,0,en,4389376,ChinaStory,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",chinastory look at these kids practicing thei...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#ChinaStory', 2: 'Look', 3: 'at', 4: 'the...","{1: '#ChinaStory', 2: 'look', 3: 'at', 4: 'the...","{1: 'PROPN', 2: 'VERB', 3: 'ADP', 4: 'DET', 5:...","{1: 'NNP', 2: 'VB', 3: 'IN', 4: 'DT', 5: 'NNS'...","{1: 'nsubj', 2: 'root', 3: 'case', 4: 'det', 5...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N..."
26161,NaN,2020-08-25 23:02:00,globaltimesnews,1,1298395229096206339,Chinese Valentine’s day proposal: Holding a bu...,0,0,en,1889706,NaN,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0...",chinese valentine s day proposal holding a bu...,"{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 1, 7: ...","{0: 'Chinese', 1: 'Valentine', 2: '’s', 3: 'da...","{0: 'chinese', 1: 'Valentine', 2: ""'s"", 3: 'da...","{0: 'ADJ', 1: 'NOUN', 2: 'PART', 3: 'NOUN', 4:...","{0: 'JJ', 1: 'NN', 2: 'POS', 3: 'NN', 4: 'NN',...","{0: 'amod', 1: 'nmod:poss', 2: 'case', 3: 'com...","{0: 'NORP', 1: 'PERSON', 2: None, 3: None, 4: ..."
26162,NaN,2020-08-25 23:20:03,globaltimesnews,1,1298399770692780032,#Opinion: Italy and #China can expand beyond i...,0,0,en,1889705,Opinion; China; Italy,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0...",opinion italy and china can expand beyond i...,"{1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0, 8: 0, 9: ...","{1: '#Opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: '#opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: 'NOUN', 2: 'PUNCT', 3: 'PROPN', 4: 'CCONJ'...","{1: 'NN', 2: ':', 3: 'NNP', 4: 'CC', 6: 'NNP',...","{1: 'root', 2: 'punct', 3: 'nsubj', 4: 'cc', 6...","{1: 'HASHTAG', 2: None, 3: 'GPE', 4: None, 6: ..."
26163,NaN,2020-08-25 23:40:03,globaltimesnews,1,1298404806072184837,#India's overconfidence in its economic streng...,0,0,en,1889701,India; COVID19,"{'n_sent': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0...",india s overconfidence in its economic streng...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: 'PROPN', 2: 'PART', 3: 'NOUN', 4: 'ADP', 5...","{1: 'NNP', 2: 'POS', 3: 'NN', 4: 'IN', 5: 'PRP...","{1: 'nmod:poss', 2: 'case', 3: 'nsubj', 4: 'ca...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N..."
26164,NaN,2020-08-25 23:59:11,globaltimesnews,1,1298409619128070145,Two opposition members of #HongKong Legislativ...,0,0,en,1889679,HongKong,"{'n_sent': {0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0...",two opposition members of hongkong legislativ...,"{0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0, 7: 0, 8: ...","{0: 'Two', 1: 'opposition', 2: 'members', 3: '...","{0: 'two', 1: 'opposition', 2: 'member', 3: 'o...","{0: 'NUM', 1: 'NOUN', 2: 'NOUN', 3: 'ADP', 5: ...","{0: 'CD', 1: 'NN', 2: 'NNS', 3: 'IN', 5: 'NNP'...","{0: 'nummod', 1: 'compound', 2: 'nsubj:pass', ...","{0: 'CARDINAL', 1: None, 2: None, 3: None, 5: ..."

In [50]:
def extract_users(row):
    # Extracts users and attaches unique ones
    ori = [row["user"]]
    user_list = ori + list(set(re.findall(r'@(\S*\w)', row["text"])))
    return user_list

In [51]:
# Create hashtags column with the actual unique hashtags
large_df["users"] = large_df.apply(lambda row: extract_users(row), axis = 1)
data["users"] = data.apply(lambda row: extract_users(row), axis = 1)

In [52]:
data

,Unnamed: 0,created_at,user,verified,id_str,text,retweet_count,favorite_count,lang,follower_count,...,text_clean,n_sent,token,lemma,upos,xpos,dependency relation,ner,users,user2
0,0.0,2020-05-19 10:59:48,ChinaEUMission,1,1262699470946516992,All parties have reached consensus on a draft ...,0,0,en,14658,...,all parties have reached consensus on a draft ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[ChinaEUMission, WHO]",ChinaEUMission
1,1.0,2020-05-19 11:22:28,ChinaEUMission,1,1262705175489363968,China's railway system is expected to reach 14...,0,0,en,14659,...,china s railway system is expected to reach 14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[ChinaEUMission],ChinaEUMission
2,2.0,2020-05-19 14:09:59,ChinaEUMission,1,1262747333747343366,China has exported over 50 billion masks since...,0,0,en,14665,...,china has exported over 50 billion masks since...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[ChinaEUMission],ChinaEUMission
3,3.0,2020-05-19 14:34:35,zlj517,1,1262753525655719938,RT @SpokespersonCHN: Not the first time to bas...,0,0,en,621491,...,rt spokespersonchn not the first time to bas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[zlj517, SpokespersonCHN]",zlj517
4,4.0,2020-05-19 14:34:39,zlj517,1,1262753542101581830,RT @SpokespersonCHN: That what does not kill y...,0,0,en,621491,...,rt spokespersonchn that what does not kill y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[zlj517, SpokespersonCHN]",zlj517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26160,NaN,2020-08-25 22:45:56,ChinaDaily,1,1298391186151837696,#ChinaStory Look at these kids practicing thei...,0,0,en,4389376,...,chinastory look at these kids practicing thei...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#ChinaStory', 2: 'Look', 3: 'at', 4: 'the...","{1: '#ChinaStory', 2: 'look', 3: 'at', 4: 'the...","{1: 'PROPN', 2: 'VERB', 3: 'ADP', 4: 'DET', 5:...","{1: 'NNP', 2: 'VB', 3: 'IN', 4: 'DT', 5: 'NNS'...","{1: 'nsubj', 2: 'root', 3: 'case', 4: 'det', 5...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N...",[ChinaDaily],ChinaDaily
26161,NaN,2020-08-25 23:02:00,globaltimesnews,1,1298395229096206339,Chinese Valentine’s day proposal: Holding a bu...,0,0,en,1889706,...,chinese valentine s day proposal holding a bu...,"{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 1, 7: ...","{0: 'Chinese', 1: 'Valentine', 2: '’s', 3: 'da...","{0: 'chinese', 1: 'Valentine', 2: ""'s"", 3: 'da...","{0: 'ADJ', 1: 'NOUN', 2: 'PART', 3: 'NOUN', 4:...","{0: 'JJ', 1: 'NN', 2: 'POS', 3: 'NN', 4: 'NN',...","{0: 'amod', 1: 'nmod:poss', 2: 'case', 3: 'com...","{0: 'NORP', 1: 'PERSON', 2: None, 3: None, 4: ...",[globaltimesnews],globaltimesnews
26162,NaN,2020-08-25 23:20:03,globaltimesnews,1,1298399770692780032,#Opinion: Italy and #China can expand beyond i...,0,0,en,1889705,...,opinion italy and china can expand beyond i...,"{1: 0, 2: 0, 3: 0, 4: 0, 6: 0, 7: 0, 8: 0, 9: ...","{1: '#Opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: '#opinion', 2: ':', 3: 'Italy', 4: 'and', ...","{1: 'NOUN', 2: 'PUNCT', 3: 'PROPN', 4: 'CCONJ'...","{1: 'NN', 2: ':', 3: 'NNP', 4: 'CC', 6: 'NNP',...","{1: 'root', 2: 'punct', 3: 'nsubj', 4: 'cc', 6...","{1: 'HASHTAG', 2: None, 3: 'GPE', 4: None, 6: ...","[globaltimesnews, fabiomassimos]",globaltimesnews
26163,NaN,2020-08-25 23:40:03,globaltimesnews,1,1298404806072184837,#India's overconfidence in its economic streng...,0,0,en,1889701,...,india s overconfidence in its economic streng...,"{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: ...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: '#India', 2: ""'s"", 3: 'overconfidence', 4:...","{1: 'PROPN', 2: 'PART', 3: 'NOUN', 4: 'ADP', 5...","{1: 'NNP', 2: 'POS', 3: 'NN', 4: 'IN', 5: 'PRP...","{1: 'nmod:poss', 2: 'case', 3: 'nsubj', 4: 'ca...","{1: 'HASHTAG', 2: None, 3: None, 4: None, 5: N...",[globaltimesnews],globaltimesnews
26164,NaN,2020-08-25 23:59:11,globaltimesnews,1,1298409619128070145,Two opposition members of #HongKong Legislativ...,0,0,en,1889679,...,two opposition members of hongkong legislativ...,"{0: 0, 1: 0, 2: 0, 3: 0, 5: 0, 6: 0, 7: 0, 8: ...","{0: 'Two', 1: 'opposition', 2: 'members', 3: '...","{0: 'two', 1: 'opposition', 2: 'member', 3: 'o...","{0: 'NUM', 1: 'NOUN', 2: 'NOUN', 3: 'ADP', 5: ...","{0: 'CD', 1: 'NN', 2: 'NNS', 3: 'IN', 5: 'NNP'...","{0: 'nummod', 1: 'compound', 2: 'nsubj:pass', ...","{0: 'CARDINAL', 1: None, 2: None, 3: None, 5: ...",[globaltimesnews],globaltimesnews

In [53]:
# Let's take a subset of necessary columns, add id
df = large_df[["created_at", "users"]].reset_index().rename(columns={"index": "id"})
df = data[["created_at", "users"]].reset_index().rename(columns={"index": "id"})
df

# Select only the ones where we have more than 1 hashtag per tweet
df = df[df["users"].map(len) > 1].reset_index(drop=True)

# Hashtag per row
# convert list of pd.Series then stack it
dd = (df
 .set_index(['created_at','id'])['users']
 .apply(pd.Series)
 .stack()
 .reset_index()
 .drop('level_2', axis=1)
 .rename(columns={0:'user_solo'}))
#lowercase!
dd["user_solo"] = dd["user_solo"].str.lower()

# Fix dates
# Reading the data out and in again to fix datetime
#dd.to_csv("co_hashtag_timebins/own_hashtags_large_hashtags_all.csv", index=False)
#dd = pd.read_csv("co_hashtag_timebins/own_hashtags_large_hashtags_all.csv")

dd.to_csv("co_hashtag_timebins/chinese_users.csv", index=False)
dd = pd.read_csv("co_hashtag_timebins/chinese_users.csv")

# Fix datetime - for some reason doesn't give NaT's only when you read the data in from csv
# Normalize the dates
def clean_dates(dd):
    # 0[DAY]  1[MONTH]  2[YEAR]
    datelist = [[],[],[]]
    for line in dd.created_at:
        #If string starts with letters (Mon Mar)
        if re.match(r'[A-Za-z]', line): #Tue Mar 03 20:44:19 +0000 2020
            # Day
            datelist[0].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[2])
            # Month - turn month name into month number
            datelist[1].append(datetime.datetime.strptime((re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[1]), "%b").month)
            #datelist[1].append("03")
            # Year
            datelist[2].append(re.split(r'(?:[A-Za-z]{3}\s)([A-Za-z]{3})(\s\d{2})(?:.{16})(\d{4})', line)[3])
        else: #2020-02-28
            # Day
            datelist[0].append(re.split(r'(2020)-(\d*)-(\d*)', line)[3])
            # Month
            datelist[1].append(re.split(r'(2020)-(\d*)-(\d*)', line)[2])
            # Year
            datelist[2].append(re.split(r'(2020)-(\d*)-(\d*)', line)[1])

    # Change the list into DF of datetime
    d = pd.to_datetime(pd.DataFrame(datelist).transpose().rename(columns={0:"day", 1:"month", 2:"year"}))
    dd["created_at"] = d
    return(dd)

dd = clean_dates(dd)

In [54]:
dd

     created_at     id        user_solo
0    2020-05-19      0   chinaeumission
1    2020-05-19      0              who
2    2020-05-19      3           zlj517
3    2020-05-19      3  spokespersonchn
4    2020-05-19      4           zlj517
...         ...    ...              ...
9190 2020-08-25  26119  globaltimesnews
9191 2020-08-25  26119      unmigration
9192 2020-08-25  26119        migration
9193 2020-08-25  26162  globaltimesnews
9194 2020-08-25  26162    fabiomassimos

[9195 rows x 3 columns]

In [55]:
def df_to_timebins(id_hashtag):
    
    # Add freq of hashtags by themselves in the dataset
    hashtag_freq = pd.DataFrame({'whole_freq' : id_hashtag.groupby(['user_solo']).size()}).reset_index()

    # Add the whole_frew to id_hashtag - THIS SEEMS BETTER THAN mm
    freq_hashtags = pd.merge(id_hashtag, hashtag_freq, how='left', on=['user_solo'])#, 'id', 'created_at'])
    
    df0 = freq_hashtags
    
    return(freq_hashtags)

f = df_to_timebins(dd)

start_date = "2020-05-20"
end_date = "2020-05-31"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin0 = f.loc[mask].reset_index(drop=True)

start_date = "2020-06-01"
end_date = "2020-06-30"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin1 = f.loc[mask].reset_index(drop=True)

start_date = "2020-07-01"
end_date = "2020-07-31"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin2 = f.loc[mask].reset_index(drop=True)

start_date = "2020-08-01"
end_date = "2020-08-05"
mask = (f['created_at'] >= start_date) & (f['created_at'] <= end_date)
bin3 = f.loc[mask].reset_index(drop=True)

# Convert timebins to source-target
def timebin(timebin_dataframe, with_count_1 = True):
    # Aggregate the dataframe based on ID
    hashtags_per_tweet = timebin_dataframe.groupby(['id'])["user_solo"].apply(lambda x: ', '.join(x)).reset_index()

    cols = [[],[]]
    for index, row in hashtags_per_tweet.iterrows():
        hashtags=row['user_solo'].split()
        hashtags_len = len(hashtags)
        for n in list(itertools.combinations(hashtags, 2)):
            cols[0].append(n[0])
            cols[1].append(n[1])

    # Make the data frame from the source and target columns, remove commas
    df3 = pd.DataFrame(list(zip(cols[0], cols[1]))).rename(columns={0:"source",1:"target"}).replace(',','', regex=True)
    
    # Aggregate repeated edges
    df10 = pd.DataFrame({'count' : df3.groupby(['source', 'target']).size()}).reset_index()
    
    if with_count_1 == False:
        df10 = df10[df10["count"] != 1]
    
    # Add the frequencies of hashtags per whole data + per timebin
    time1 = timebin_dataframe.rename(columns={'user_solo':'source', 'whole_freq': 'source_whole_freq', 'bin_freq':'source_bin_freq'})
    time1 = time1.drop(columns=['id', 'created_at'])

    time2 = timebin_dataframe.rename(columns={'user_solo':'target', 'whole_freq': 'target_whole_freq', 'bin_freq':'target_bin_freq'})
    time2 = time2.drop(columns=['id', 'created_at'])#, 'label', 'score'])

    df11 = pd.merge(df10, time1, how = 'left', on='source')
    df11 = pd.merge(df11, time2, how = 'left', on='target')
    
    # Drop duplicates if any!
    df11 = df11.drop_duplicates().reset_index(drop=True)
    
    return(df11)

# Make the timebins
time0 = timebin(bin0)
time1 = timebin(bin1)
time2 = timebin(bin2)
time3 = timebin(bin3)
#time4 = timebin(f)

In [58]:
time3

,source,target,count,source_whole_freq,target_whole_freq
0,agent_of_change,donaldjtrumpjr,1,8,2
1,ambassadechine,mfa_china,1,80,294
2,ambassadechine,spokespersonchn,1,80,280
3,ambliuxiaoming,cctv,1,180,1
4,ambliuxiaoming,koreanembassyuk,1,180,1
...,...,...,...,...,...
72,zlj517,mfa_china,12,1331,294
73,zlj517,prcambnepal,4,1331,4
74,zlj517,spokespersonchn,3,1331,280
75,zlj517,tangtianru,1,1331,13
76,zlj517,xhnews,14,1331,194

In [59]:

# Chinese
time0.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_0_users_rmv.csv', index=False)
time1.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_1_users_rmv.csv', index=False)
time2.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_2_users_rmv.csv', index=False)
time3.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_3_users_rmv.csv', index=False)
#time4.to_csv('co_hashtag_timebins/networkx-to-hv-input/chinese/timebin_4_co_hashtags_rmv.csv', index=False)

# April-May data analysis

In [11]:
with open('../../data_processed/megafiles/da_da_mega1.ndjson') as f:
    da_da_mega1 = pd.read_json(f, lines = True)
da_da_mega1

,created_at,id,id_str,text,truncated,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted,lang,sentiment,tokens,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,withheld_in_countries
0,Sun Mar 15 21:01:26 +0000 2020,1239295667341754400,1239295667341754368,RT @MortenDDHansen: UNDGÅ ANDRE MENNESKER! Den...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.9560940265655...","{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...",NaN,NaN,NaN,NaN,NaN,NaN
1,Sun Mar 15 21:01:46 +0000 2020,1239295750955241500,1239295750955241472,RT @MarcFarzetta: Social Distancing OG... http...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.989539921283721}","{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...","{'media': [{'id': 1239244969518432300, 'id_str...",0.0,NaN,NaN,NaN,NaN
2,Sun Mar 15 21:03:41 +0000 2020,1239296233228898300,1239296233228898304,Jesus Christ 😩😩😩😩🤬🤬🤬🤬🤬 https://t.co/s59lv376JF,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.985206246376037}","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0}, '...",NaN,0.0,1.239291e+18,1.239291e+18,{'created_at': 'Sun Mar 15 20:41:04 +0000 2020...,NaN
3,Sun Mar 15 21:04:34 +0000 2020,1239296455636144000,1239296455636144128,Må du stå i kø til Zoologisk Have eller hænge ...,1.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.9780081510543...","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN,0.0,NaN,NaN,NaN,NaN
4,Sun Mar 15 21:04:40 +0000 2020,1239296480869003300,1239296480869003264,RT @stinelinnemann: Jeg er lige gået fra relat...,0.0,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/#!/download/ipad"" ...",NaN,NaN,NaN,...,0.0,da,"{'label': 'NEGATIVE', 'score': 0.983555257320404}","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 1, '4...",NaN,NaN,1.238604e+18,1.238604e+18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34003,2020-03-31 11:14:02,1244946047610355712,1244946047610355712,"RT @AnjaEH8: Husk det, også i den kommende pås...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,da,"{'label': 'NEGATIVE', 'score': 0.990824520587921}","{'n_sent': {'0': 0, '2': 0, '3': 0, '4': 0, '5...",NaN,NaN,NaN,NaN,NaN,NaN
34004,2020-03-31 11:16:09,1244946579594907649,1244946579594907648,"RT @AnjaEH8: Husk det, også i den kommende pås...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,da,"{'label': 'NEGATIVE', 'score': 0.990824520587921}","{'n_sent': {'0': 0, '2': 0, '3': 0, '4': 0, '5...",NaN,NaN,NaN,NaN,NaN,NaN
34005,2020-03-31 12:46:21,1244969278970957824,1244969278970957824,RT @R4nd4hl: Et kor i Washington valgte at øve...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,da,"{'label': 'NEGATIVE', 'score': 0.99040001630783}","{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...",NaN,NaN,NaN,NaN,NaN,NaN
34006,2020-03-31 19:48:49,1245075599095463939,1245075599095463936,man kan sige meget om den her corona karantæne...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,da,"{'label': 'NEGATIVE', 'score': 0.9237736463546...","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN,NaN,NaN,NaN,NaN,NaN
34007,2020-03-31 19:50:24,1245075994136006659,1245075994136006656,Mine #børn er ved at være grundigt træt af #lo...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,da,"{'label': 'NEGATIVE', 'score': 0.9945050477981...","{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN,NaN,NaN,NaN,NaN,NaN

{'label': 'NEGATIVE', 'score': 0.985206246376037}

In [4]:
with open('../../data_processed/megafiles/da_da_mega2.ndjson') as f:
    da_da_mega2 = pd.read_json(f, lines = True)
da_da_mega2

,created_at,id,id_str,text,retweet_count,favorite_count,lang,follower_count,tokens,sentiment
0,2020-06-01 00:01:23,1267244817916088322,1267244817916088320,"Den bortgåede person, som vi søgte efter i Bra...",0,0,da,77932,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN
1,2020-06-01 00:44:48,1267255742077206529,1267255742077206528,Skydegale civilbetjente affyrer #varselsskud p...,0,0,da,44,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN
2,2020-06-01 00:58:00,1267259066272931842,1267259066272931840,RT @LarsArneC: ..... jeg støtter hverken barne...,0,0,da,21,"{'n_sent': {'0': 0, '2': 0, '3': 0, '4': 0, '5...",NaN
3,2020-06-01 00:59:51,1267259531911987202,1267259531911987200,"RT @SjylPoliti: kl. 0441 blev der anmeldt, at ...",0,0,da,454,"{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...",NaN
4,2020-06-01 01:01:55,1267260050420137987,1267260050420137984,RT @ChristinaEgelun: “Det har vist sig meget e...,0,0,da,172,"{'n_sent': {'0': 0, '2': 1, '3': 1, '4': 1, '5...",NaN
...,...,...,...,...,...,...,...,...,...,...
249753,2020-05-14 23:56:46,1261083060872732672,1261083060872732672,"RT @uffeelbaek: Hvis der er nogen, som tror at...",0,0,da,48,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 1, '4...",NaN
249754,2020-05-14 23:57:27,1261083233539653632,1261083233539653632,"RT @uffeelbaek: Hvis der er nogen, som tror at...",0,0,da,54,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 1, '4...",NaN
249755,2020-05-14 23:57:28,1261083239432826885,1261083239432826880,"RT @LRisgaard: Store kæder som Synoptik, Sport...",0,0,da,167,"{'n_sent': {'0': 0, '2': 0, '3': 0, '4': 0, '5...",NaN
249756,2020-05-14 23:59:22,1261083717566595074,1261083717566595072,Fantastisk vi har en statsminister som åbenbar...,0,0,da,6,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 0, '4...",NaN
249757,2020-05-14 23:59:58,1261083868930535424,1261083868930535424,"RT @uffeelbaek: Hvis der er nogen, som tror at...",0,0,da,20,"{'n_sent': {'0': 0, '1': 0, '2': 0, '3': 1, '4...",NaN

In [7]:
id_hashtag = hashtag_df_long(da_da_mega2, remove_hashtags = True)

In [8]:
id_hashtag

            id          created_at               hashtag
0            1 2020-06-01 00:44:48          #varselsskud
1            1 2020-06-01 00:44:48             #politidk
8            7 2020-06-01 01:24:53  #instrukskommisionen
10           9 2020-06-01 01:32:16              #dkgreen
14          11 2020-06-01 02:33:05        #coronasverige
...        ...                 ...                   ...
446049  249752 2020-05-14 23:56:37              #mongotv
446050  249752 2020-05-14 23:56:37       #mongomatematik
446052  249752 2020-05-14 23:56:37            #mongonews
446053  249752 2020-05-14 23:56:37             #reporter
446057  249755 2020-05-14 23:57:28            #arbejdeog

[185123 rows x 3 columns]

In [9]:
# Reading the data out and in again to fix datetime
id_hashtag.to_csv("co_hashtag_timebins/da_da_mega2_large_hashtags_all.csv", index=False)

In [55]:
dd = pd.read_csv("co_hashtag_timebins/da_da_mega2_large_hashtags_all.csv")

In [56]:
dd = clean_dates(dd)

In [61]:
df = dd.copy()

In [62]:
df[df["created_at"] == "2020-06-01"]

       id created_at               hashtag  month  day
0       1 2020-06-01          #varselsskud      6    1
1       1 2020-06-01             #politidk      6    1
2       7 2020-06-01  #instrukskommisionen      6    1
3       9 2020-06-01              #dkgreen      6    1
4      11 2020-06-01        #coronasverige      6    1
..    ...        ...                   ...    ...  ...
886  1756 2020-06-01                 #rita      6    1
887  1761 2020-06-01                #uspol      6    1
888  1763 2020-06-01         #dkpol-person      6    1
889  1765 2020-06-01               #radio4      6    1
890  1771 2020-06-01              #dkforsk      6    1

[891 rows x 5 columns]

In [63]:
df['month'] = pd.DatetimeIndex(df['created_at']).month
df['day'] = pd.DatetimeIndex(df['created_at']).day

In [64]:
dd

            id created_at               hashtag  month  day
0            1 2020-06-01          #varselsskud      6    1
1            1 2020-06-01             #politidk      6    1
2            7 2020-06-01  #instrukskommisionen      6    1
3            9 2020-06-01              #dkgreen      6    1
4           11 2020-06-01        #coronasverige      6    1
...        ...        ...                   ...    ...  ...
185118  249752 2020-05-14              #mongotv      5   14
185119  249752 2020-05-14       #mongomatematik      5   14
185120  249752 2020-05-14            #mongonews      5   14
185121  249752 2020-05-14             #reporter      5   14
185122  249755 2020-05-14            #arbejdeog      5   14

[185123 rows x 5 columns]

In [80]:
dd.to_csv("co_hashtag_timebins/da_da_mega2_cleaned_date.csv", index=False)

In [2]:
# WORK WITH THIS HERE
dd = pd.read_csv("co_hashtag_timebins/da_da_mega2_cleaned_date.csv")

In [11]:
dd[dd["month"] == 6]

dd["month"] = dd["month"].replace(6, 0)
dd["month"] = dd["month"].replace(5, 1)

dd_june = dd[dd["month"] == 0]
dd_may = dd[dd["month"] == 1]

In [31]:
dd_june = dd_june.reset_index(drop=True)

In [32]:
dd_june

           id  created_at               hashtag  month  day
0           1  2020-06-01          #varselsskud      0    1
1           1  2020-06-01             #politidk      0    1
2           7  2020-06-01  #instrukskommisionen      0    1
3           9  2020-06-01              #dkgreen      0    1
4          11  2020-06-01        #coronasverige      0    1
...       ...         ...                   ...    ...  ...
44477  244475  2020-06-18             #politidk      0   18
44478  244480  2020-06-18         #islamisering      0   18
44479  244481  2020-06-18            #dkturisme      0   18
44480  244488  2020-06-18              #hotspot      0   18
44481  244489  2020-06-18              #sundpol      0   18

[44482 rows x 5 columns]

In [57]:
d1 = pd.DataFrame()
for i in range(0,len(dd_june)):
    for row in dd_june.day:
        is_between = 1 <= row <= 7
        if is_between:
            d1.append(dd_june.loc[i])
            
        #dd_june[[dd_june["day"] == row]]

#dd_june["chunk"] =

KeyboardInterrupt:

In [72]:
grouped = dd_june.groupby(dd_june.created_at)

grouped.get_group("2020-06-01")

for name, group in grouped:
    path = "co_hashtag_timebins/may_june/" + str(name) + ".csv"
    group.to_csv(path, index=False)

In [70]:
print(concat("hello", 1))

NameError: name 'concat' is not defined

In [66]:
df0

         id  created_at         hashtag  month  day
2033   9350  2020-06-21       #politidk      0   21
2034   9354  2020-06-21        #dknatur      0   21
2035   9354  2020-06-21  #biodiversitet      0   21
2036   9356  2020-06-21         #dksund      0   21
2037   9356  2020-06-21        #sundhed      0   21
...     ...         ...             ...    ...  ...
3449  11291  2020-06-21        #dkgreen      0   21
3450  11292  2020-06-21        #dkgreen      0   21
3451  11293  2020-06-21        #dkgreen      0   21
3452  11294  2020-06-21        #dkgreen      0   21
3453  11295  2020-06-21        #dkgreen      0   21

[1421 rows x 5 columns]

In [67]:
import pandas as pd

df1 = pd.DataFrame({
    'atable':     ['Users', 'Users', 'Domains', 'Domains', 'Locks'],
    'column':     ['col_1', 'col_2', 'col_a', 'col_b', 'col'],
    'column_type':['varchar', 'varchar', 'int', 'varchar', 'varchar'],
    'is_null':    ['No', 'No', 'Yes', 'No', 'Yes'],
})

df1_grouped = df1.groupby('atable')

# iterate over each group
for group_name, df_group in df1_grouped:
    print('\nCREATE TABLE {}('.format(group_name))

    for row_index, row in df_group.iterrows():
        col = row['column']
        column_type = row['column_type']
        is_null = 'NOT NULL' if row['is_null'] == 'NO' else ''
        print('\t{} {} {},'.format(col, column_type, is_null))

    print(");")

CREATE TABLE Domains(
	col_a int ,
	col_b varchar ,
);

CREATE TABLE Locks(
	col varchar ,
);

CREATE TABLE Users(
	col_1 varchar ,
	col_2 varchar ,
);

In [ ]:
# sort the dataframe
df.sort_values(by='name', axis=1, inplace=True)
# set the index to be this and don't drop
df.set_index(keys=['name'], drop=False,inplace=True)
# get a list of names
names=df['name'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe
joe = df.loc[df.name=='joe']
# now you can query all 'joes'

In [ ]:
def df_to_timebins(id_hashtag):
    
    # Add freq of hashtags by themselves in the dataset
    hashtag_freq = pd.DataFrame({'whole_freq' : id_hashtag.groupby(['hashtag']).size()}).reset_index()

    # Add the whole_frew to id_hashtag - THIS SEEMS BETTER THAN mm
    freq_hashtags = pd.merge(id_hashtag, hashtag_freq, how='left', on=['hashtag'])#, 'id', 'created_at'])
    
    df0 = freq_hashtags
    # Extract initial timebin 0
    bin0 = df0[df0['created_at'] <= "2020-03-10"]
    # Add hashtag freq in this timebin

    bin01 = pd.merge(bin0, pd.DataFrame({'bin_freq' : bin0.groupby(['hashtag']).size()}).reset_index(), on=['hashtag'])

    # Extract initial timebin X and remove values higher than last bin
    bin1a = df0[df0['created_at'] <= "2020-03-17"]# - bin0
    bin1 = bin1a[bin1a.created_at > "2020-03-10"]
    bin11 = pd.merge(bin1, pd.DataFrame({'bin_freq' : bin1.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    bin2a = df0[df0['created_at'] <= "2020-03-22"]# - bin0
    bin2 = bin2a[bin2a.created_at > "2020-03-17"]
    bin21 = pd.merge(bin2, pd.DataFrame({'bin_freq' : bin2.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    bin3a = df0[df0['created_at'] <= "2020-03-31"]# - bin0
    bin3 = bin3a[bin3a.created_at > "2020-03-22"]
    bin31 = pd.merge(bin3, pd.DataFrame({'bin_freq' : bin3.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])

    bin4a = df0[df0['created_at'] <= "2020-05-31"]# - bin0
    bin4 = bin4a[bin4a.created_at > "2020-03-31"]
    bin41 = pd.merge(bin4, pd.DataFrame({'bin_freq' : bin4.groupby(['id', 'created_at', 'hashtag']).size()}).reset_index(), on=['id', 'created_at', 'hashtag'])
    
    return(df0, bin0, bin1, bin2, bin3, bin4)